---
import "../styles/global.css";
import BaseLayout from "../layouts/Base.astro";
const meta = {
	description: "here ",
	title: "Friends",
};
---

<style>
	h1 {
		color: rgb(12, 183, 84);
		font-size: 2.5rem;
	}
	h2 {
		color: rgb(44, 195, 127);
		font-size: 0.5rem;
	}
	h3 {
		color: rgb(44, 195, 127);
		font-size: 2.5rem;
	}
</style>

<BaseLayout meta={meta}>
	<h1>Special thanks</h1><br />
	<p style="font-size:larger;">Special thanks to all my friends' support and love"&gt;_&lt;"</p><br
	/>
	<h3>OHYES OHYES OHYES OHYES OHYES OHYES OHYES OHYES OHYES OHYES</h3><br />
	<h3>Filimmina Filimmina Filimmina Filimmina Filimmina Filimmina</h3><br />
	<h2>吴灿浩の爸比</h2><br />
	<h3>想不出好昵称 想不出好昵称 想不出好昵称 想不出好昵称 想不出好昵称</h3><br />
</BaseLayout>
